

<div class="container-fluid truck">
  <div class="row heading">
    <h1>TransactionCost</h1>
  </div>
  <div class="row actions in">
  <div class="col text-center">
  <%= link_to "LOG IN", user_session_path, class: "white-link" %>
  </div>
</div>
  <div class="row actions up">
  <div class="col text-center">
    <%= link_to "SIGN UP", new_user_registration_path, class: "white" %>
    </div>
  </div>
 
</div>

